[user]
	email = martin@m4r7.in
	name = Martin Pedersen
[push]
	default = current
[core]
	excludesfile = ~/dotfiles/.gitignore_global
[pull]
	rebase = true
[rebase]
	autostash = true
[alias]
	co = checkout
