[global_config]
  borderless = True
  smart_copy = False
  geometry_hinting = True
[keybindings]
  cycle_next = ""
  cycle_prev = ""
  go_prev = ""
  go_up = ""
  go_down = ""
  go_left = ""
  go_right = ""
  close_term = ""
  copy = ""
  close_window = ""
  group_all = ""
  group_tab = ""
  edit_window_title = ""
  edit_tab_title = ""
  edit_terminal_title = ""
[profiles]
  [[default]]
    background_darkness = 0.92
    background_type = transparent
    font = UbuntuMono Nerd Font 14
    foreground_color = "#ffffff"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_lines = 2000
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    word_chars = "-,./?%&#_"
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
