[global_config]
  borderless = True
  smart_copy = False
  title_hide_sizetext = True
  title_inactive_bg_color = "#5c5855"
  title_inactive_fg_color = "#a5a2a2"
  title_transmit_bg_color = "#090300"
  title_transmit_fg_color = "#a5a2a2"
[keybindings]
  broadcast_all =
  broadcast_group =
  broadcast_off =
  close_term =
  close_window =
  copy =
  cycle_next =
  cycle_prev =
  edit_tab_title =
  edit_terminal_title =
  edit_window_title =
  go_down =
  go_left =
  go_prev =
  go_right =
  go_up =
  group_all =
  group_all_toggle =
  group_tab =
  group_tab_toggle =
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.89
    background_type = transparent
    cursor_color = "#a5a2a2"
    foreground_color = "#ffffff"
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    scrollback_lines = 2000
    scrollbar_position = hidden
    show_titlebar = False
    word_chars = "-,./?%&#_"
