# Atom key bindings

# Remap esc to tab
'atom-text-editor.vim-mode-plus':
  'tab': 'vim-mode-plus:reset-normal-mode'
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'tab': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor:not([mini]).vim-mode-plus.insert-mode':
  'shift-tab': 'editor:indent',
  'shift-enter': 'editor:newline' # Fix shift-enter

# Remap ctrl-l and ctrl-h to tab navigation
'body':
  'ctrl-h': 'pane:show-previous-item',
  'ctrl-l': 'pane:show-next-item'
'atom-workspace atom-text-editor':
  'ctrl-h': 'pane:show-previous-item',
  'ctrl-l': 'pane:show-next-item'
